{% extends "base.html" %}
{% block headtitle %} - Profile{% endblock %}
{% block title %} Qomon{% endblock %}

{% block content %}

 	
{% with errors = get_flashed_messages(category_filter=["partner1"]) %}
{% if errors %}
    {%- for msg in errors %}
    <p>{{ msg }}</p>
    {% endfor -%}
{% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["delete"]) %}
{% if errors %}
    {%- for msg in errors %}
    <p class="text-danger">{{ msg }}</li>
    {% endfor -%}
{% endif %}
{% endwith %}


    <div class="row">
      <div class="col-6 col-sm-5 col-lg-14">
		  <h3 class="text-mutted text-left">  Add a new qomon expense! </h3>

		  {% from "forms/macros.html" import render_field %}
		  <form role="form" class="form form-medium" action="." method="post">
		  {{ form.csrf_token }}
		  	  <div class="form-group">
		
		  {{ render_field(form.date, class="form-control input-small text datepicker") }}
      </div>
      <div class="form-group">
	
		  {{ render_field(form.description, class="form-control input-large text") }}
      </div>
      <div class="form-group">
		  {{ render_field(form.amount, class="form-control input-small text") }}
      </div>
	  {# 

		  {{ render_field(form.earned, class="input checkbox") }}
		  
		   #}
		  <button type="submit" class="btn btn-success">Add</button>
		  </form>
    
		 
      </div><!--/span-->
         
   

		<div class="col-lg-6 col-sm-11 content"  style="background-color:#F0F0F0 ">
	    
			<table class="table-responsive">
			
				<tr>
					<td><h3 class="text-left">
						<strong>{{user}}</strong> spent:&nbsp;&nbsp;</h3>
					</td>
					<td></td>
					<td><h3 class="text-right">$ {{ '%.2f' % bal['ts_user'] | abs()}}</h3></td>
					
				</tr>
				{% if p1 %}
		
				<tr>
					<td><h3 class="text-left">
						<strong>{{p1.name}}</strong> spent : </h3>
					</td>
					<td>&nbsp;</td>
					<td><h3 class="text-right">$ {{ '%.2f' % bal['ts_p1'] | abs() }}</h3></td>
				</tr>
	            {% endif %}
				{%  if p2 %}
				<tr>
					<td><h3 class="text-left"><strong>{{p2.name}}</strong>  total: </h3></td>
					<td>&nbsp;</td>
					<td><h3 class="text-right">$ {{'%.2f' % bal['ts_p2'] | abs() }}</h3></td>
				</tr>
				{% endif %}
			    {% if not p1 or not p2 %}
				<tr>
					<td>
				    <a class="text-muted" href="{{ url_for('users.settings') }}">
					<span class="glyphicon glyphicon-plus-sign text-muted"></span> Add Partner</a> 
				</td>
				</tr>
				{% endif %}
			
			{#	
			 {% if bal['te'] > 0 %}
	
			 <tr>
					<td><h3 class="text-left">Qomonly <strong>Earned</strong>: </h3></td>
					<td>&nbsp;</td>
					<td><h3 class="text-right">$ {{'%.2f' % bal['te'] | abs() }}</h3></td>
			 </tr>
                {% endif %}
				#}
				{#
			    {% if bal['tot'] > 0 %}
				
				<tr>
					<td><h3 class="text-left"><em>Surplus! Each receives:</em></h3></td>
					<td></td>
					<td class="text-success"><h3 class="text-right"><em><strong> $ {{ '%.2f' % bal['surplus']}}</strong></em></h3></td>
				</tr>
	
				{% else %}
				#}
				{% if p1 %}
				<tr>
					<td><h3 class="text-left"><em>{{bal['ower']}} owes {{bal['receiver']}}:</em></h3></td>
					<td></td>
					<td class="text-warning"><h3 class="text-right"><em><strong> $ {{ '%.2f' % bal['amount_owned'] | abs()}}</strong></em></h3></td>
				</tr>
				{% endif %}
				{% if p2 %}
				<tr>
					<td><h3 class="text-left"><em>{{bal['ower']}} owes {{bal['receiver2']}}:</em></h3></td>
					<td></td>
					<td class="text-warning"><h3 class="text-right"><em><strong>{{'%.2f' % bal['amount_owned2']}}</strong></em></h3></td>
				</tr>
				{% endif %}
				{# {% endif %} #}
			</table>
	        <p>&nbsp;</p>
		</div>
 
	</div>
       

      

<hr>  <!--horizontal line-->
<div class="table-responsive">
	<table class="table table-striped tablesorter" id="account-table">
		<thead>
			<tr>
 				<th>#</th>
 				<th>Who   <span class="caret"></span>
</th>
 				<th>Date   <span class="caret"></th>
 				<th>Description   <span class="caret"></th>
 				<th class="text-center">Spent <span class="caret"></th>
 				{# <th class="text-right">Earned <span class="caret"> </th> #}
				<th class="text-right">Action</th>
			</tr>
		</thead>
		
		<tbody>
		{% for entry in entries %}   
		   <tr class=entries>	
			 <td> {{loop.index}} </td>
			    <td>{{entry.user_name}}</td>			
	             <td>{{entry.date}}</td>
				<td>{{entry.description}}</td>
				{% if entry.spent > 0 %}
				<td class="text-center">$ {{ '%.2f' % entry.spent}}</td>
				{% else %}
				<td class="muted"> </td>
				{% endif %}
				{#
				{% if entry.credit > 0 %}
				<td class="text-right">$ {{'%.2f' % entry.credit}}</td>
				{% else %}
				<td> </td>
				{% endif %}
				#}
				<td class="text-right">
					<span class="glyphicon glyphicon-pencil"></span>
				
				    <a href="{{ url_for('users.delete_entry',entry_id=entry.trans_id) }}">
					<span class="glyphicon glyphicon-trash"></span></a> 
				</td>
		     </tr>
		  {% endfor %}

	      </tbody>
	</table>

	
{% endblock %}


