{% extends "base.html" %}
{% block headtitle %}- Settings{% endblock %}

{% block content %}

<h3> Account Settings </h3>
&nbsp;
	
{% with errors = get_flashed_messages(category_filter=["change-settings"]) %}
	{% if errors %}
		<div class="alert-message block-message error">
			{%- for msg in errors %}
    			<p class="text-success">{{ msg }}</p>
    		{% endfor -%}
		</div>
	{% endif %}
{% endwith %}

{% from "forms/macros.html" import render_field %}
<form class="form" role="form" action="." method="post">
	{{ form.csrf_token }}
	<div class="row">
		<div class="col-6 col-sm-6 col-lg-15">
			<div class="panel panel-success">
	  		  <div class="panel-heading">
	    		  <h1 class="panel-title">Personal Information</h1>
	   	   	  </div>
			
	  	   	  <table class="table table-responsive table-striped table-bordered">
     	      	<tr>	
     	   	   		<td style="vertical-align:middle"> Email </td>
     	   	    	<td> {{user.email}}</td>			
     	        </tr>
	   	   	   	<tr>	
		   	  	   	<td style="vertical-align:middle"> Member Name </td>
		      		<td> 
		   	  		   {{ render_field(form.change_name, class="form-control input-medium", value=user.name) }} 
		   	  	    </td>
	       	    </tr>
		   	    <tr>
		   	  		<td style="vertical-align:middle"> New Password </td>
		      		<td> 
		   	  		   {{ render_field(form.change_pwd, class="form-control input-medium clear-field") }} 
		   	  	   	</td>
		      	</tr>
		   	    <tr>
		   	  	   	<td style="vertical-align:middle"> Repeat Password </td>
		      		<td> 
					   {{ render_field(form.change_pwd_confirm, class="form-control  input-medium" ) }} 
				   </td>
				</tr>
			  </table>
			  
			</div> <!--panel-->
		</div> <!-- column -->
	</div> <!-- row-->
	<button type="submit" class="btn btn-success">Update Personal Info</button>
</form>

<p>&nbsp;</p>

{% with errors = get_flashed_messages(category_filter=["add-partner"]) %}
	{% if errors %}
	<div class="alert-message block-message error">
		{%- for msg in errors %}
			<p class="text-info">{{ msg }}</p>
		{% endfor -%}
	</div>
	{% endif %}
{% endwith %}
<form class="form" role="form" action="." method="post">
	{{ form.csrf_token }}
		
	<div class="row">
		<div class="col-6 col-sm-6 col-lg-15">
			<div class="panel panel-info">
	  		  
			  <div class="panel-heading">
	    		  <h1 class="panel-title">Partner Information</h1>
	    	  </div>
			  <p class="panel-content text-muted text-center"> 
				  To connect to a partner, simply input his/her email below and ask your partner to do the same. 
			  </p>
			  
	  		  <table class="table table-responsive table-striped table-bordered">
	 		  	<tr>	
		 		   <td style="vertical-align:middle"> Email Partner 1  </td>
		 		   
				   {% if user.partner1_email %}
		  		   <td> 
					   {{ render_field(pform.partner1, class="form-control form-inline input-large",value=user.partner1_email) }} 
				   </td>
				   
				   <td style="vertical-align:middle"> 
					   <a class="text-muted" href="{{ url_for('users.delete_partner', partner_email=user.partner1_email) }}">
					   	   <span class="glyphicon glyphicon-remove-circle"></span> 
				   	   </a>
				   </td>
				   
		  		   {% else %}		
	    		   <td> 
					   {{ render_field(pform.partner1, class="form-control form-inline input-large")}} 
				   </td>
				   <td>
				   </td>
				   {% endif %}
				  
	     	  	</tr>
		 	    <tr>
		 		   <td style="vertical-align:middle"> Email Partner 2  </td>
		 		   
				   {% if user.partner2_email %}
		  		   <td> 
					   {{ render_field(pform.partner2, class="form-control form-inline input-large",value=user.partner2_email) }} 
				   </td>
				   <td style="vertical-align:middle"> 
					   <a class="text-muted" href="{{ url_for('users.delete_partner', partner_email=user.partner2_email) }}">
					   	  <span class="glyphicon glyphicon-remove-circle text-muted"></span> 
					   </a>
				   </td>
		  		   {% else %}		
	    		   <td> 
					   {{ render_field(pform.partner2, class="form-control form-inline input-large")}} 
				   </td>
				   <td>
				   </td>
				   {% endif %}
				   
	  		  </table>
		  </div> <!--panel-->
	  </div> <!-- column -->
	</div> <!-- row-->
	
	<button type="submit" class="btn btn-info">Add Partner</button>
</form>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
 
 <!-- Button trigger modal -->
<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">
   Delete account
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h3 class="modal-title" id="myModalLabel">Warning!</h3>
       </div>
       <div class="modal-body">
         <h4> Are you sure that you want to delete your account? </h4>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		 <a href="{{ url_for('users.delete_user') }}">
		  <button class="btn btn-danger">Delete Account</button></a> 
       </div>
     </div><!-- modal content -->
   </div><!-- modal-dialog -->
</div><!-- modal -->
 



 
{% endblock %}