<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
	<title>Qbite Begins{% block headtitle %}{% endblock %}</title>
 	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<meta name="description" content="">
 	<meta name="keywords" content="">
 	<meta name="author" content="Javiera Guedes">
 	<meta charset="utf-8">
	
	<link type="text/css" rel="stylesheet" 
		  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link type="text/css" rel="stylesheet" 
		  href="{{ url_for('static', filename='css/my.css') }}" />
	<link type="text/css" rel="stylesheet" 
	  	  href="{{ url_for('static', filename='css/datepicker.css') }}" />
	<link rel="shortcut icon" 
	      href="{{ url_for('static', filename='ico/qbite.ico') }}">		
	<link rel='stylesheet' type='text/css' 
		  href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' > 	
 {% endblock %}
</head>
	
 <body>
	 <div class="container-narrow">	
		<div class="masthead">
   	 	   <ul class="nav nav-pills pull-right">
				
				<div class="btn-group">
					<a class="btn btn-default" href="{{ url_for('users.about') }}">About</a>
			 	</div>
				
			 	{% if guser %}
				<div class="btn-group">
			    	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			     	  	{{guser.name}} <span class="caret"></span>
			   	 	</button>
			   		<ul class="dropdown-menu" role="menu">
			     		<li><a href="{{ url_for('users.profile') }}">My Qomon</a></li>
			 	 		<li><a href="{{ url_for('users.settings') }}">Settings</a></li>
			     		<li class="divider"></li>
			     		<li><a href="{{ url_for('users.logout') }}">Logout</a></li>
			   		</ul>
			 	</div>
			    {% endif %}
			    
				{% if not guser %}
			    <div class="btn-group">
					<a class="btn btn-default" href="{{ url_for('users.login') }}">Log in</a>
		 	  	</div>
			 	{% endif %}
		   </ul>
   	  	 
		  
		   <h2 class="muted"><a href="{{ url_for('users.home') }}">Qomon</a></h2>

   	</div> <!-- masthead -->
	  
	<hr> <!--horizontal line-->

	{% block content %}
	{% endblock %}
	  	  
	{% block footer %}
 	<footer class="footer">
		<p>Qomon is powered by 
			<a href="http://flask.pocoo.org/docs/">Flask</a>,
			<a href="http://getbootstrap.com/">Bootstrap</a>,
			<a href="http://glyphicons.com/"> Glyphicons</a>, and 
			<a href="https://www.heroku.com/">Heroku</a>.
		</p>
		<p>&copy; Javiera Guedes</p>
	</footer>
    {% endblock %}
	
	</div> <!-- container narrow -->  
	
 <!-- javascript -->
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
    
 	<script>
    	$(function(){
    	  	$('.datepicker').datepicker({
    	  		format: 'dd M yyyy',
    	  		autoclose: true
    	  		});
    	  });
    </script>
	
	<script>  
	    $(document).ready(function () {  
	        $('.dropdown-toggle').dropdown();  
	     });  
	</script> 
	   
	<script>  
	   $(function() {
	     $('.table').tablesorter({
	     	cssInfoBlock : "avoid-sort"
	     });
	   });
	</script> 	
	
	 <script>  
	 var $btn2 = $('#popover');
	 $btn2.data('state', 'hover');

	 var enterShow = function () {
	     if ($btn2.data('state') === 'hover') {
	         $btn2.popover('show');
	     }
	 };
	 var exitHide = function () {
	     if ($btn2.data('state') === 'hover') {
	         $btn2.popover('hide');
	     }
	 };

	 var clickToggle = function () {
	     if ($btn2.data('state') === 'hover') {
	         $btn2.data('state', 'pinned');
	     } else {
	         $btn2.data('state', 'hover')
	         $btn.popover('hover');
	     }
	 };

	 $btn2.popover({trigger: 'manual'})
	     .on('mouseenter', enterShow)
	     .on('mouseleave', exitHide)
	     .on('click', clickToggle);
	
	</script> 	
	
	<script type="text/javascript">
	    $(function () {
	        $("[rel='tooltip']").tooltip();
	    });
	</script>

				
</body>
</html>
