{% extends "base.html" %}
{% block headtitle %} - Home{% endblock %}


 
{% block content %}
<div class="jumbotron">
	<h1>Qomon</h1>
	<p class="lead">A free app to help you keep track of common expenses </p>
	<a class="btn btn-large btn-success" href="{{ url_for('users.register') }}">Sign up today</a>
</div> <!-- class jumbotron -->
	  
	  
<hr>  <!--horizontal line-->
<div class="table-responsive">
<table class="table table-striped" id="account-table">
	<thead>
		<tr>
			<th>#</th>
			<th>Who</th>
			<th>Date</th>
			<th>Description</th>
			<th>Spent</th>
			<th>Credit</th>
			<th>Balance</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
        	<td>0</td>
        	<td class="mutted">Thomas</td>
        	<td>05 May 2013</td>
        	<td class="mutted">Groceries</td>
        	<td class="text-success">$150.00</td>
        	<td class="text-error"></td>
        	<td class="text-success">$150.00</td>
			<td>
				<i class="icon-small icon-pencil"></i>
			    <i class="icon-small icon-trash"></i> 
			</td>
		</tr>
		
	  
</table>
</div>
{% endblock %}
